body.active-modal {
    overflow-y: hidden;
  }
  
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 30px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color:#F17E6C;
    margin-bottom: 8px;
  }

  .details {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1;
  }

  .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #F17E6C;
    cursor: pointer;
    border-radius: 8px;
  }

  .close-modal:focus {
    outline: none;
    border: none;
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }


  .details-btn{
    border-radius: 5px;
    padding: 2px 8px;
    margin-top: 10px;
    background: #eb8b7d;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
  }

  .details-btn:hover {
    background: #ee705d;
  }

  .details-btn:focus{
    border: none;
    outline: none;
    background: #ee705d;
  }
